@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navgrid {
  display: grid;
  grid-template-columns: [co1-start] 10fr [co2] 70fr [co3] 10fr;
  
  grid-template-areas: 
    "navlinks categories badge"
}

.navgrid > p {
  grid-area: navlinks;
}

.categories {
  grid-area: categories;
}

